@model eShopSolution.ViewModels.Catalog.Products.CategoryAssignRequest

@{
    ViewData["Title"] = "Gan danh muc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1 class="mt-4">Gan danh muc</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="#">Trang chu</a></li>
        <li class="breadcrumb-item active">Gan danh muc</li>
    </ol>
    <div class="card">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Index" asp-controller="Product">Ve danh sach</a>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div class="col-md-4">
                <form asp-action="CategoryAssign">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    @for (var i = 0; i < Model.Categories.Count; i++)
                    {
                        <div class="form-group">
                            <label asp-for="Categories[i].Name" class="control-label">
                                @Model.Categories[i].Name
                                <input type="checkbox" asp-for="Categories[i].Selected" />
                                <input type="hidden" asp-for="Categories[i].Id" />
                                <input type="hidden" asp-for="Categories[i].Name" />
                            </label>
                        </div>
                    }
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>