
<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <!-- Add icons to the links using the .nav-icon class
         with font-awesome or any other icon font library -->
    <li class="nav-item has-treeview menu-open">
        <a href="/Admin/Home/Index" class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
                Trang chu
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
    </li>
    <li class="nav-item has-treeview">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-user"></i>
            <p>
                User
                <i class="fas fa-angle-left right"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="/Admin/User/Index" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Danh sach nguoi dung</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/User/create" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Them nguoi dung</p>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item has-treeview">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-comment"></i>
            <p>
                Danh muc
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="/Admin/Category/Index" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Danh sach danh muc</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/Category/Create" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Them moi</p>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item has-treeview">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-comment"></i>
            <p>
                Danh muc con
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="/Admin/CategoryDetail/Index" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Danh sach danh muc</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/CategoryDetail/Create" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Them moi</p>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item has-treeview">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-comment"></i>
            <p>
                Danh muc chi tiet
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="/Admin/ProductCate/Index" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Danh sach danh muc</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/ProductCate/Create" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Them moi</p>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item has-treeview">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-comment"></i>
            <p>
                Hoa Don
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="/Admin/Order/Index" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Danh sach hoa don</p>
                </a>
            </li>           
        </ul>
    </li>
    <li class="nav-item has-treeview">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-bell"></i>
            <p>
                San pham
                <i class="fas fa-angle-left right"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="/Admin/Product/Index" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Danh sach san pham</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/Product/Create" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Them moi</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/ProductCategory/Index" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Danh muc</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="pages/UI/sliders.html" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Sliders</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="pages/UI/modals.html" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Modals & Alerts</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="pages/UI/navbar.html" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Navbar & Tabs</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="pages/UI/timeline.html" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Timeline</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="pages/UI/ribbons.html" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Ribbons</p>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item has-treeview">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-newspaper"></i>
            <p>
                Tin Tuc
                <i class="fas fa-angle-left right"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="/Admin/Content/Index" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Danh sach tin tuc</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/Content/Create" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Them tin tuc</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="pages/forms/editors.html" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Editors</p>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item has-treeview">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-plus-square"></i>
            <p>
                Quan ly chung
                <i class="fas fa-angle-left right"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="pages/tables/simple.html" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Footer</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="pages/tables/data.html" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Gioi thieu</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/Menu/Index" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Menu</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="pages/tables/jsgrid.html" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Slide</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="pages/tables/jsgrid.html" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Phan hoi</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="pages/tables/jsgrid.html" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Contact</p>
                </a>
            </li>
        </ul>
    </li>
</ul>
