
@{
    ViewBag.Title = "Thanks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if(TempData["success"] != null)
{
    <script>
        window.onload = function () {
        alert("Gui Thanh Cong");
    }
    </script>
}
<div style="text-align: center;">&nbsp;</div>    

<div style="text-align: center;">&nbsp;</div>

<div style="text-align: center;"><span style="font-size:18px;"><span style="color:#FF0000;"><strong>BẠN ĐÃ GỬI THÀNH CÔNG!!!</strong></span></span></div>

<div style="text-align: center;">&nbsp;</div>

<div style="text-align: center;"><span style="color:#FF0000;"><strong>CÁM ƠN BẠN ĐÃ CHỌN NỘI THẤT ĐỒ GỖ VIỆT!</strong></span></div>

<div style="text-align: center;">&nbsp;</div>

<div style="text-align: center;">&nbsp;</div>