@model TransportManagerSystem.Models.ModelsViews.TransportPart
@{
    ViewBag.Title = "createTransport";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="content-wrapper" style="margin-right:60%">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Create New Transport</h3>
        </div>
        @if(TempData["Warn"] != null)
        {
            <div class="alert alert-danger" role="alert">
                This transport has existed
            </div>
        }
        <!-- /.box-header -->
        <!-- form start -->
        <form action="@Url.Action("createTransportDB")" method="post" role="form" validate="true">
            <div class="box-body">
                <div class="form-group">
                    <label for="username">Transport Type</label>
                    <input type="text" name="Name" id="tbName" value="" class="form-control" required/>
                </div>                
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button type="submit" class="btn btn-primary"> Save </button>
            </div>
        </form>
    </div>
</div>
