@model List<Models.EF.Partner>
    <div class="logothuonghieu">
        <div class="titborder">
            <h4>Đối tác - Khách hàng</h4>
            <div class="border_tit"></div>
        </div>
        <ul class="owl-carousel owl-loaded owl-drag" id="logo_div">
            <li class="item"><a href="#" title="Khách sạn Mường Thanh"><img src="~/Assets/Client/images/upload/loaisp/icon/khach-san-muong-thanh.jpg" alt="Khách sạn Mường Thanh" /></a></li>

            <li class="item"><a href="#" title="Citadines"><img src="~/Assets/Client/images/upload/loaisp/icon/citadines.jpg" alt="Citadines" /></a></li>

            <li class="item"><a href="#" title="Caravelle"><img src="~/Assets/Client/images/upload/loaisp/icon/caravelle.jpg" alt="Caravelle" /></a></li>

            <li class="item"><a href="#" title="Pull man Saigon Centre"><img src="~/Assets/Client/images/upload/loaisp/icon/pull-man-saigon-centre.jpg" alt="Pull man Saigon Centre" /></a></li>

            <li class="item"><a href="#" title="Thế Giới Tranh Sơn Dầu"><img src="~/Assets/Client/images/upload/loaisp/icon/the-gioi-tranh-son-dau.jpg" alt="Thế Giới Tranh Sơn Dầu" /></a></li>

            <li class="item"><a href="#" title="Nệm Giá Gốc"><img src="~/Assets/Client/images/upload/loaisp/icon/nem-gia-goc.jpg" alt="Nệm Giá Gốc" /></a></li>

            <li class="item"><a href="#" title="Nệm Liên Á"><img src="~/Assets/Client/images/upload/loaisp/icon/nem-lien-a.jpg" alt="Nệm Liên Á" /></a></li>

            <li class="item"><a href="#" title="Nệm Đồng Phú"><img src="~/Assets/Client/images/upload/loaisp/icon/nem-dong-phu.jpg" alt="Nệm Đồng Phú" /></a></li>

            <li class="item"><a href="https://noithatchungcu.com.vn/" title="noithatchungcu.com.vn"><img src="~/Assets/Client/images/upload/loaisp/icon/decox-design.jpg" alt="noithatchungcu.com.vn" /></a></li>

        </ul>
        <span id="element_logo"></span>
        <div class="clear"></div>
    </div>
    <div class="titborder"><h4>Tag từ khoá</h4><div class="border_tit"></div></div>
    <div class="keylist" id="text1">
        <strong><a href="https://noithatdogoviet.com/giuong-ngu" title="Giường ngủ">Giường ngủ</a>&nbsp; -&nbsp;
        <a href="https://noithatdogoviet.com/tu-quan-ao" title="Tủ quần áo">Tủ quần áo</a>&nbsp;-&nbsp;
        <a href="https://noithatdogoviet.com/ban-ghe-go" title="Bàn ghế gỗ">Bàn ghế gỗ</a>&nbsp;-&nbsp;
        <a href="https://noithatdogoviet.com/bo-ban-an" title="Bộ bàn ăn">Bộ bàn ăn</a>&nbsp;-&nbsp;
        <a href="https://noithatdogoviet.com/ban-tho" title="Bàn thờ">Bàn thờ</a>
        </strong>
    </div>